@font-face {
  font-family: "io"; /* Project id 2520366 */
  src: url('//at.alicdn.com/t/font_2520366_7q3g9dvewr7.woff2?t=1620367479870') format('woff2'),
       url('//at.alicdn.com/t/font_2520366_7q3g9dvewr7.woff?t=1620367479870') format('woff'),
       url('//at.alicdn.com/t/font_2520366_7q3g9dvewr7.ttf?t=1620367479870') format('truetype');
}

.io {
  font-family: "io" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.io-uisheji:before {
  content: "\e600";
}

.io-UIsheji:before {
  content: "\e655";
}

.io-UIsheji1:before {
  content: "\e611";
}

.io-UIsheji2:before {
  content: "\ed1f";
}

.io-jiemiansheji:before {
  content: "\e617";
}

.io-5UIsheji:before {
  content: "\e619";
}

.io-ppt:before {
  content: "\e60f";
}

.io-ppt2:before {
  content: "\e69f";
}

.io-PPT:before {
  content: "\e61b";
}

.io-PPT1:before {
  content: "\e607";
}

.io-zi:before {
  content: "\e605";
}

.io-ziti1:before {
  content: "\e72d";
}

.io-ziti2:before {
  content: "\e60b";
}

.io-ziti-xuanzhong:before {
  content: "\e651";
}

.io-zi1:before {
  content: "\e606";
}

.io-font:before {
  content: "\e66e";
}

.io-MDpeise:before {
  content: "\e610";
}

.io-secai:before {
  content: "\e661";
}

.io-fire-fill:before {
  content: "\e869";
}

.io-favorfill:before {
  content: "\e64b";
}

.io-camerafill:before {
  content: "\e664";
}

.io-commentfill:before {
  content: "\e666";
}

.io-likefill:before {
  content: "\e668";
}

.io-discoverfill:before {
  content: "\e6ba";
}

.io-explorefill:before {
  content: "\e6dd";
}

.io-appreciatefill:before {
  content: "\e6e3";
}

.io-upstagefill:before {
  content: "\e70e";
}

.io-cameraaddfill:before {
  content: "\e727";
}

.io-picfill:before {
  content: "\e72c";
}

.io-book:before {
  content: "\e61f";
}

.io-hotfill:before {
  content: "\e757";
}

.io-emojiflashfill:before {
  content: "\e78e";
}

.io-lianjieguanlian:before {
  content: "\e77c";
}

.io-recordfill:before {
  content: "\e7a4";
}

.io-skinfill:before {
  content: "\e7cc";
}

.io-medal_fill_light:before {
  content: "\e7e6";
}

.io-evaluate_fill:before {
  content: "\e7f0";
}

.io-gongju:before {
  content: "\e69d";
}

.io-arrow_up_fill:before {
  content: "\e817";
}

.io-tianchongxing-1:before {
  content: "\e63d";
}

.io-app:before {
  content: "\e6d4";
}

.io-App2:before {
  content: "\e60e";
}

.io-gongju1:before {
  content: "\e620";
}

.io-86:before {
  content: "\e67c";
}

.io-zitifont4:before {
  content: "\e769";
}

.io-icon4:before {
  content: "\e62c";
}

.io-xitongshezhi:before {
  content: "\e6b9";
}

.io-chanpinhuoke:before {
  content: "\e6c9";
}

.io-linggan:before {
  content: "\e62d";
}

.io-meitibaodao:before {
  content: "\e69e";
}

.io-svgwrite:before {
  content: "\e650";
}

.io-wenzhang-copy:before {
  content: "\e643";
}

.io-iconfont4316:before {
  content: "\e637";
}

.io-chanpin:before {
  content: "\e63f";
}

.io-728bianjiqi_zitidaxiao:before {
  content: "\e660";
}

.io-chuangyi:before {
  content: "\e66b";
}

.io-sucai:before {
  content: "\e621";
}

.io-ziti:before {
  content: "\e7b1";
}

.io-UI_icon_shiyeneichaxun:before {
  content: "\e669";
}

.io-sheji:before {
  content: "\e629";
}

.io-view-fill:before {
  content: "\e644";
}

.io-tuijian:before {
  content: "\e609";
}

.io-linggan1:before {
  content: "\e874";
}

.io-peixun:before {
  content: "\e876";
}

.io-qianduankaifa:before {
  content: "\e645";
}

.io-tuandui:before {
  content: "\e682";
}

.io-developer-fill:before {
  content: "\e652";
}

.io-16:before {
  content: "\e625";
}

.io-guanyu:before {
  content: "\e622";
}

.io-chanpin1:before {
  content: "\e626";
}

.io-guanyu1:before {
  content: "\e659";
}

.io-sucai1:before {
  content: "\e833";
}

.io-sketch:before {
  content: "\e71a";
}

.io-kaifajindu:before {
  content: "\e7e8";
}

.io-icon_xinyong_xianxing_jijin-129:before {
  content: "\e647";
}

.io-yanjing:before {
  content: "\e6cb";
}

.io-ruanjiankaifa2:before {
  content: "\e627";
}

.io-yanjing1:before {
  content: "\e83c";
}

.io-tuandui1:before {
  content: "\e642";
}

